body {
    text-align: center;
    background-color: paleturquoise;
}

h1 {
    margin-top: 150px;
    font-size: 50px;
    color: teal;
}

#firstName, #lastName, #age, #submit {
    font-size: 20px;
}

#message {
    margin-top: 50px;
    font-size: 30px;
    color: teal;
    font-weight: bold;
}